Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white.
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_department, która będzie informowała o tym czy jest męska czy żeńska, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [3]:
import pandas as pd
import numpy as np

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [32]:
data = pd.read_csv('orders.csv')

data['order_date'] = pd.to_datetime(data['order_date'], format='%Y/%m/%d')


data['tshirt_category'] = data['tshirt_category'].replace({
    'Wh Tshirt M':'White T-Shirt M',
    'Bl Tshirt M':'Black T-Shirt M',
    'Wh Tshirt F':'White T-Shirt F',
    'Bl Tshirt F':'Black T-Shirt F',
})
unique_values = data['tshirt_category'].value_counts()


def split_tshirt_category(category):
    parts = category.split()
    tshirt_type = 'Koszulka' if 'T-Shirt' in parts else 'Bluza' if 'Hoodie' in parts else 'Inne'
    tshirt_colour = parts[0] if parts[0] in ['Black', 'White'] else 'Nieznany'
    tshirt_department = 'M' if 'M' in parts else 'F' if 'F' in parts else 'Unisex'
    return pd.Series([tshirt_type, tshirt_department, tshirt_colour])

data[['tshirt_type', 'tshirt_department', 'tshirt_colour']] = data['tshirt_category'].apply(split_tshirt_category)

filtered_orders = data[(data['order_date'] >= '2014-12-31') & (data['order_date'] <= '2016-08-02')]
print(filtered_orders)

      order_date  pages_visited         order_id customer_id  tshirt_category  \
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M
5     2016-01-15              9  HTS-061311-0003      061311  Black T-Shirt F
12    2015-11-24             15  HTS-je57lh-0001      je57lh           Hoodie
13    2015-10-10              8  HTS-252675-0002      252675  White T-Shirt M
15    2015-11-29             15  HTS-heb26i-0001      heb26i  Black T-Shirt F
...          ...            ...              ...         ...              ...
26496 2016-06-02              2  HTS-5b4bg6-0001      5b4bg6  Black T-Shirt F
26513 2016-07-05             12  HTS-bt08zd-0001      bt08zd  White T-Shirt F
26515 2016-07-27             17  HTS-gsc3f6-0001      gsc3f6           Hoodie
26540 2016-06-08              7  HTS-6ba0i0-0001      6ba0i0  White T-Shirt M
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12  White T-Shirt M

       tshirt_price  tshirt_quantity tshirt_type tshirt_department  \
4              20.0                1    Koszulka                 M
5              17.5                4    Koszulka                 F
12             23.0                3       Bluza            Unisex
13             20.0                3    Koszulka                 M
15             17.5                1    Koszulka                 F
...             ...              ...         ...               ...
26496          17.5                1    Koszulka                 F
26513          18.0                1    Koszulka                 F
26515          23.0                1       Bluza            Unisex
26540          20.0                4    Koszulka                 M
26548          20.0                1    Koszulka                 M

      tshirt_colour
4             White
5             Black
12         Nieznany
13            White
15            Black
...             ...
26496         Black
26513         White
26515      Nieznany
26540         White
26548         White

[12638 rows x 10 columns]

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych.

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [45]:
data = pd.read_csv('customers.csv')
ordersData = pd.read_csv('orders.csv')

print(data.columns)

print(data.shape)

print("Rozmiar ramki 'data':", data.shape)

print("Rozmiar ramki 'orders':", ordersData.shape)

if data.shape == ordersData.shape:
    print("Ramki mają taki sam rozmiar.")
else:
    print("Ramki mają różne rozmiary.")

data.rename(columns={'customerID': 'customer_id'}, inplace=True)
data
ordersData

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')
(18766, 6)
Rozmiar ramki 'data': (18766, 6)
Rozmiar ramki 'orders': (26552, 7)
Ramki mają różne rozmiary.

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016/11/19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016/08/02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017/03/09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016/10/04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016/12/16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [49]:
merge_data = ordersData.merge(data, on='customer_id', how='inner')
merge_data
#do połączenia użyliśmy metody merge, ktora pozwala na 
#laczenie dwoch ramek danych na podstawie wspolnej kolumny

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,gender,birthdate,user_agent,ip_address,campaign
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014/06/04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015/10/22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016/11/02,11,HTS-762534-0001,762534,Hoodie,23.0,1,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016/11/16,4,HTS-hrpv38-0001,hrpv38,White T-Shirt M,20.0,3,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014/07/12,16,HTS-978569-0001,978569,Hoodie,23.0,1,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016/08/05,11,HTS-k0batl-0001,k0batl,White T-Shirt M,20.0,2,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017/03/13,11,HTS-200121-0001,200121,Tennis Shirt,24.0,1,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [52]:
merge_data.to_csv('merge_data.csv', index=False)