In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
pd.read_csv('./data/pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
pok = pd.read_csv('./data/pokemon.csv', usecols=['Type1', 'Name'], index_col='Name')

ValueError: Usecols do not match columns, columns expected but not found: ['Type1']

In [5]:
pd.read_csv('./data/pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
pok = pd.read_csv('./data/pokemon.csv', usecols=['Type 1', 'Name'], index_col='Name')

In [7]:
pok

                        Type 1
Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
...                        ...
Diancie                   Rock
DiancieMega Diancie       Rock
HoopaHoopa Confined    Psychic
HoopaHoopa Unbound     Psychic
Volcanion                 Fire

[800 rows x 1 columns]

In [8]:
pok(squeeze=True)

TypeError: 'DataFrame' object is not callable

In [9]:
pok = pd.read_csv('./data/pokemon.csv', usecols=['Type 1', 'Name'], index_col='Name',squeeze=True)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [10]:
pok = pd.read_csv('./data/pokemon.csv', usecols=['Name', 'Type 1'], index_col='Name', squeeze=True)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

In [11]:
df = pd.read_csv('./data/pokemon.csv', usecols=['Name', 'Type 1'], index_col='Name')

# Przekształć wybraną kolumnę w Series
pok = df['Type 1']

In [13]:
pok

Name
Bulbasaur                  Grass
Ivysaur                    Grass
Venusaur                   Grass
VenusaurMega Venusaur      Grass
Charmander                  Fire
                          ...
Diancie                     Rock
DiancieMega Diancie         Rock
HoopaHoopa Confined      Psychic
HoopaHoopa Unbound       Psychic
Volcanion                   Fire
Name: Type 1, Length: 800, dtype: object

In [14]:
pok.head()

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

In [15]:
pokUpper = pok.str.upper()

In [16]:
pokUpper

Name
Bulbasaur                  GRASS
Ivysaur                    GRASS
Venusaur                   GRASS
VenusaurMega Venusaur      GRASS
Charmander                  FIRE
                          ...
Diancie                     ROCK
DiancieMega Diancie         ROCK
HoopaHoopa Confined      PSYCHIC
HoopaHoopa Unbound       PSYCHIC
Volcanion                   FIRE
Name: Type 1, Length: 800, dtype: object

In [21]:
"TYPE:" + pok.str.upper()

Name
Bulbasaur                  TYPE:GRASS
Ivysaur                    TYPE:GRASS
Venusaur                   TYPE:GRASS
VenusaurMega Venusaur      TYPE:GRASS
Charmander                  TYPE:FIRE
                             ...
Diancie                     TYPE:ROCK
DiancieMega Diancie         TYPE:ROCK
HoopaHoopa Confined      TYPE:PSYCHIC
HoopaHoopa Unbound       TYPE:PSYCHIC
Volcanion                   TYPE:FIRE
Name: Type 1, Length: 800, dtype: object

In [22]:
pokWithType = "TYPE: " + pok.str.upper()

In [24]:
pokWithType

Name
Bulbasaur                  TYPE: GRASS
Ivysaur                    TYPE: GRASS
Venusaur                   TYPE: GRASS
VenusaurMega Venusaur      TYPE: GRASS
Charmander                  TYPE: FIRE
                             ...
Diancie                     TYPE: ROCK
DiancieMega Diancie         TYPE: ROCK
HoopaHoopa Confined      TYPE: PSYCHIC
HoopaHoopa Unbound       TYPE: PSYCHIC
Volcanion                   TYPE: FIRE
Name: Type 1, Length: 800, dtype: object

In [25]:
pokWithType.head()

Name
Bulbasaur                TYPE: GRASS
Ivysaur                  TYPE: GRASS
Venusaur                 TYPE: GRASS
VenusaurMega Venusaur    TYPE: GRASS
Charmander                TYPE: FIRE
Name: Type 1, dtype: object

In [27]:
pok.value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [29]:
def ReplaceType(oldType):
    if oldType == "Grass" or oldType == "Ground":
        return "Nature"
    else: 
        return oldType

In [30]:
ReplaceType('Fire')

'Fire'

In [31]:
ReplaceType('Grass')

'Nature'

In [32]:
ReplaceType(pok.str)

In [33]:
pokNature = pok.apply(ReplaceType)

In [34]:
pokNature.head()

Name
Bulbasaur                Nature
Ivysaur                  Nature
Venusaur                 Nature
VenusaurMega Venusaur    Nature
Charmander                 Fire
Name: Type 1, dtype: object

In [35]:
pokNature.value_counts()

Type 1
Water       112
Nature      102
Normal       98
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [36]:
pokLambda = pok.apply(lambda aText: aText.upper())

In [37]:
pokLambda.head()

Name
Bulbasaur                GRASS
Ivysaur                  GRASS
Venusaur                 GRASS
VenusaurMega Venusaur    GRASS
Charmander                FIRE
Name: Type 1, dtype: object

In [38]:
pok.head()

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

In [39]:
pokLambda = pok.apply(lambda aText: aText.lower())

In [40]:
pokLambda

Name
Bulbasaur                  grass
Ivysaur                    grass
Venusaur                   grass
VenusaurMega Venusaur      grass
Charmander                  fire
                          ...
Diancie                     rock
DiancieMega Diancie         rock
HoopaHoopa Confined      psychic
HoopaHoopa Unbound       psychic
Volcanion                   fire
Name: Type 1, Length: 800, dtype: object

In [41]:
pokLambda = pok.apply(lambda aText: aText.title())

In [42]:
pokLambda

Name
Bulbasaur                  Grass
Ivysaur                    Grass
Venusaur                   Grass
VenusaurMega Venusaur      Grass
Charmander                  Fire
                          ...
Diancie                     Rock
DiancieMega Diancie         Rock
HoopaHoopa Confined      Psychic
HoopaHoopa Unbound       Psychic
Volcanion                   Fire
Name: Type 1, Length: 800, dtype: object